~$Notes.pptx
~$Component-Library.xlsx
~$Kururugi-ESC-calculs.xlsx
~$Abreviations.pptx
~$Kururugi-ESC-sizing.xlsx
~$C Design.docx
Report Kururugi ESC [WORK IN PROGRESS]
~$Kururugi ESC - Visuals
.metadata/
.settings/
~$Draft Notes.pptx
~$Kururugi ESC - Visuals.pptx
Kururugi-ESC-backups/